<tr>
  <td>1</td>
  <td>Nome do Usuário</td>
  <td>Email</td>
  <td>masculino</td>
  <td>Ativo</td>
  <td>
    <a href="/update-user" class="btn border-shadow update">
      <span class="text-gradient"><i class="fas fa-pencil-alt"></i> </span>
      <a class="btn border-shadow delete">
        <span class="text-gradient"><i class="fas fa-times"></i> </span>
      </a>
    </a>
  </td>
</tr>
